* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    max-width: 480px;
    min-height: 1vh;
    margin: 0 auto;
    background-color: #977663;
}

.bar-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    z-index: 1000;
    background-color: #B26958;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.rectangle {
    width: 100%;
    background-color: #B26958;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 39px;
    cursor: pointer;
}

.banner {
    width: 100%;
    height: 120vh;
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(140, 56, 36, 1));
    background-size: cover;
    position: relative;
}

.welcome-container {
    position: relative;
    margin-bottom: 100%;
    top: 11%;
    left: 95%;
    transform: translate(-92%, -10%);
    text-align: left; 
    z-index: 1000;
}

.welcomemessage {
    font-size: 22px;
    color: #ffffff;
    font-weight: bold;
}

.custom-button, .custom-button2, .save-button {
    padding: 10px 20px;
    background-color: #B27E72; 
    color: white; 
    border: none; 
    border-radius: 19px; 
    cursor: pointer; 
    margin-top: 15px;
}

.custom-button2 {
    margin-left: 10px;
}

.custom-button:hover, .custom-button2:hover, .save-button:hover {
    background-color: #ECECEC; 
    color: #B27E72;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ECECEC;
    /* min-width: 120px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 12px 16px;
    border-radius: 8px;
}

.dropdown-content label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-content input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 50%; 
    appearance: none; 
    -webkit-appearance: none; 
    border: 2px solid #B27E72;
    cursor: pointer;
    position: relative;
    order: 2;
}

.dropdown-content input[type="checkbox"]:checked {
    background-color: #B27E72; 
}

.dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #ECECEC;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 12px 16px;
    border-radius: 8px;
}

.dropdown-content2 label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.dropdown-content2 input[type="checkbox"] {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    appearance: none;
    -webkit-appearance: none;
    border: 2px solid #B27E72;
    cursor: pointer;
    position: relative;
    order: 2;
}

.dropdown-content2 input[type="checkbox"]:checked {
    background-color: #B27E72;
}

.show {
    display: block;
}

.upcoming-events h2 {
    margin-bottom: 10px;
}

.eventcontainer {
    cursor: pointer;
    position: absolute;
    left: 3.5%;
    padding-top: 3%;
    margin-top: 15px;
}

.runningevent {
    width: 420px;
    border-radius: 15px;
}

.upcoming {
    color: white;
    position: absolute;
    padding-bottom: 15px;
    top: 14%; 
    left: 24%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    font-size: 20px; 
    text-align: center;
    filter: drop-shadow(13px 3px 10px #000000);
}

.upcomingdetail {
    margin-left: 2%;
    margin-right: 0%;
    color: white;
    position: absolute;
    padding-bottom: 15px;
    top: 80%; 
    left: 35%;
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 3px; 
    font-size: 13px; 
    text-align: left;
    filter: drop-shadow(13px 6px 4px #000000);
}
.otheract {
    cursor: pointer;
    position: absolute;
    left: 10%;
    padding-top: 15%;
    margin-top: 280px;
}

.topact {
    white-space: nowrap;
    color: white;
    position: absolute;
    padding-bottom: 15px;
    top: 10%;
    left: 15%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    text-align: left;
}
.more{
    white-space: nowrap;
    color: white;
    position: absolute;
    padding-bottom: 15px;
    top: 10%;
    left: 85%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 20px;
    font-size: 15px;
    text-align: left;
}
.eventname{
    color:#B26958;
    font-size: 14px; 
    text-align: center;
    white-space: pre-line;
}
.eventimg{
    width: 150px;
    border-radius: 19px; 
    margin-bottom: 10px;
}
.eventdate{
    color:#6c6c6c;
    font-size: 14px; 
    text-align: center;
    white-space: pre-line;
}
.event-buttons-container {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.eventbutton1,
.eventbutton2 {
    flex: 0 0 48%;
    padding: 20px 10px;
    margin-bottom: 10px;
    background-color: white;
    color: white;
    border-radius: 19px;
    cursor: pointer;
    text-align: center;
} 

.eventbutton1 {
    margin-right: 10px; 
}

.eventbutton2 {
    margin-left: 10px; 
}

.home{
    width: 40px;
    cursor: pointer;
    margin-right: 34px;
    margin-left: 34px;
    opacity: 60%;
}

.plus{
    width: 40px;
    cursor: pointer;
    margin-right: 34px;
    margin-left: 34px;
    opacity: 70%;
}

.history{
    width: 35px;
    cursor: pointer;
    margin-right: 34px;
    margin-left: 34px;
    opacity: 75%;
}

.profile{
    width: 50px;
    cursor: pointer;
    margin-right: 34px;
    margin-left: 34px;
    opacity: 60%;
}

.navigation{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    z-index: 1000;
    background-color: #B26958;
}
.bar2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.rectangle2{
    width: 100%;
    background-color: #B26958;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation a {
    text-decoration: none;
    color: inherit;
}

.navigation img {
    transition: opacity 0.3s ease;
}

.navigation a:hover img {
    opacity: 1;
}

@media (max-width: 480px) {
    body {
        max-width: 100%;
        margin: 0;
    }

    .bar-container {
        width: 100%;
        max-width: 100%;
    }
    
}