body {
    max-width: 480px;
    min-height: 1vh;
    margin: 0 auto;
    background-color: #977663;
    font-family: 'Lato';
}

.bar-container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    z-index: 1000;
    background-color: #B26958;
}

.bar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.bar2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0;
}

.navigation{
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 480px;
    z-index: 1000;
    background-color: #B26958;
}

.container {
    max-width: 480px;
    min-height: 100vh;
    overflow: auto;
    margin: 0 auto; 
    background-image: linear-gradient(#000000, #F2613F);
}

.rectangle {
    width: 100%;
    background-color: #B26958;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 39px;
    cursor: pointer;
}

.home{
    width: 40px;
    cursor: pointer;
    margin-right: 34px;
    margin-left: 34px;
    opacity: 60%;
}

.plus{
    width: 40px;
    cursor: pointer;
    margin-right: 34px;
    margin-left: 34px;
    opacity: 70%;
}

.history{
    width: 35px;
    cursor: pointer;
    margin-right: 34px;
    margin-left: 34px;
    opacity: 75%;
}

.profile{
    width: 50px;
    cursor: pointer;
    margin-right: 34px;
    margin-left: 34px;
    opacity: 60%;
}

.rectangle2{
    width: 100%;
    background-color: #B26958;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prof {
    margin-top: 20%;
    display: flex;
    padding-left: 50px;
}

.profname {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding-bottom: 10px;
}

.profinfo {
    font-size: 15px;
    color: white;
    padding-bottom: 10px;
}

.profpic {
    display: inline-block;
    width: 100px;
    height: 100px;
}

.profile-pic {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.info {
    display: inline-block;
    padding: 20px;
}

.pencil {
    width: 20px;
    cursor: pointer;
    margin-left: 10px;
}

.logout {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 15px;
    background-color: rgba(255,255,255,0.7);
    color: #F2613F;
    font-weight: bold;
    margin: auto;
    cursor: pointer;
    position: absolute;
    bottom: 15%;
    left: 45%;
}

@media (max-width: 480px) {
    body {
        max-width: 100%;
        margin: 0;
    }

    .bar-container {
        width: 100%;
        max-width: 100%;
    }
}
